@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
  font-family: 'Raleway', sans-serif;
}

.fas {
  color: #0065fc;
}

.fa-map-marker-alt {
  color: black;
  font-size: 20px;
  padding: 10px;
  background: #f2f2f2;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}

button {
  margin-left: 15px;
  border: #f2f2f2 2px solid;
  border-radius: 30px;
  background-color: white;
  font-weight: bold;
  text-align: right;
  padding-right: 15px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.search-input {
  border-left: thin;
  border-right: thin;
  padding: 10x;
  width: 200px;
  height: 20px;
}

nav {
  text-align: right;
  padding-top: 20px;
  border-top: royalblue;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: overline;
  color: #0065fc;
  padding-top: 20px;
}

a:active {
  text-decoration: overline;
}

form {
  display: flex;
}

li {
  padding-left: 15px;
}

.fa-money-bill-wave {
  background: #beedff;
  border-radius: 50%;
  border: 0px;
  padding: 15px;  /* change the background size of the icon*/
  margin-right: 15px;
}

.fa-child {
  background: #beedff;
  border-radius: 50%;
  border: 0px;
  padding: 15px;  /* change the background size of the icon*/
  margin-right: 15px;
}

.fa-heart {
  background: #beedff;
  border-radius: 50%;
  border: 0px;
  padding: 15px;  /* change the background size of the icon*/
  margin-right: 15px;
}

.fa-dog {
  background: #beedff;
  border-radius: 50%;
  border: 0px;
  padding: 15px;  /* change the background size of the icon*/
  margin-right: 15px;
}

.fa-info {
  padding: 10px;
  background: #beedff;
  border-radius: 50%;
}

h3 {
  font-weight: 700;
}

.accommodation-most-popular-container {
  display: flex;
  padding: 10px;
}

.accommodation,
.most-popular {
  flex: 2;
  padding: 10px;
  margin: 10px;
  background-color: #f2f2f2;
  border-radius: 15px;
}

.accommodation {
  display: flex;
  flex-flow: wrap;
}

.accommodation>div {
  margin: 10px;
  align-items: center;
}

.most-popular {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.img-accommodation {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 200px;
  height: 100px;
}

.img-most-popular {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 120px;
  height: 120px;
}

.img-activities {
  border-radius: 15px;
}

.activities {
  display: flex;
}

.activities div {
  padding: 10px;
  color: white;
  flex: 1;
}

.activities-two {
  display: flex;
  flex-direction: column;
}
